.image2{
  width: 100%;
}

.box1{
  margin-left: 300px;
  margin-right: 600px;
  margin-top:20px;
  margin-bottom:20px;

  border-color: lightslategray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.box6{
  margin-left: 300px;
  margin-right: 400px;
  margin-bottom:3px;
  font-size: xxx-large;
}

body{
  background-color: dodgerblue;
}

.box4{
  margin-left: 2px;
  margin-right: 39px;
  border: 3px solid;
  background-color: gold;
  border-color: lightslategray;
}
