<div class="container col-lg-6">
  <h1 class="text-center"></h1>

  <div class="card-body">

<!--
<div class="container col-lg-6">
    <div class="card">
        <div class="card-body"> -->
            <form class="form-group">
                <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
                <div class="form-group">
                    <label for="email" class="textcolor" >User Name: </label>
                    <input type="text"  id="username" class="form-control" [(ngModel)]="username" placeholder="Enter Username" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd" class="textcolor" >Password: </label>
                    <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter Password" name="password">
                </div>
                <button class = "loginButton" (click)="handleLogin()" >Login</button>
              <div ><label class="textcolor">Don't have an account?</label></div>
                <button (click)="create()" class = "createButton">Create an Account</button>
            </form>
        <!--
        </div>
    </div>
</div>
  -->
  </div>
</div>
