<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body ng-app="myModule">

<div class="box8">
  <img class="image2" src="assets/images/bb.png" alt="bb_picture">
</div>

<div class="box6">Welcome to Pokemon's World</div>


<!--
 <div *ngFor="let o of pokemons" class="box1"><img class="image1" src="{{o.picture}}" alt="Picture">
   <div class="box4">
     <label>  </label>{{o.name}}
     <label>HP:</label>{{o.hp}}
     <label>Attack:</label>{{o.attack}}
     <label>Defend:</label>{{o.defend}}
   </div>
 </div>
-->

<!-- (if user input a pokemon that exits in the database display it)  -->
<div *ngIf="p" class="box5"><img class="image1" src="{{p.imageUrl}}" alt="{{p.imageUrl}}">
  <div class="box4">
    <label > </label>{{p.name}}
    <label>HP:</label>{{p.hp}}
    <label>Attack:</label>{{p.attack}}
    <label>Defend:</label>{{p.defend}}
  </div>
  <div class="price"> Price: $1.5</div>
  <div class="order2"> <button>Order</button> </div>
</div>
<div class="box3">

  <input #url class="input1" type="text"
         placeholder="Search Your Pokemon Card:"
         (input)="inputPoke(url.value)" [value]="inputPokemon">
  <button  (click)="clear(inputPokemon)">clear</button>
</div>

<div class="box8">
  <img class="image2"src="assets/images/cc.png" alt="cc_picture">
</div>

</body>
</html>
