.box1{
  margin-left: 300px;
  margin-right: 600px;
  margin-top:20px;
  margin-bottom:20px;

  border-color: lightslategray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.box2{
  margin-left: 300px;
  margin-right: 600px;
  margin-top:50px;
  margin-bottom:50px;
  border: 2px solid;
  border-color: lightslategray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.box3{
  margin-left: 800px;
  font-family: "Lucida Console";
  width: 1000px;

}

#searchbtn{
  float: left;
  margin-top: 10px;
  font-family: "Lucida Console"

}

#searchInput{
  float: left;
  border-radius: 15px;
  border: 5px solid #73AD21;
}

#clearbtn{
  float: left;
  margin-top: 10px;
  font-family: "Lucida Console"
}
.btnChange{

  background-color:lightskyblue;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  color: green;
  font-weight: bold;
  border-color: orange;
}

.btnChange:hover
{
  background-color: purple;
  border-radius: 15px;
  border-color: white;
  color:lightblue;
}

.pagebackground{
  height: 30px;
width: 430px;
  background-color: white;
  border-radius: 15px;
}

label{
  display: inline-block;

}
.right{

}
.image1{
  width: 280px;
  height: 300px;
  border: 3px solid;
  border-radius: 15px;
  border-color: lightblue;
}
.image2{
  width: 100%;

}

.box4 {
  border: 3px solid;
  background-color: lightblue;
  border-color: lightblue;
  border-radius: 15px;
  font-family: "Lucida Console";
  height: 35px;
  width: 280px;
}

  .numberBox{
    float: left;
    font-family: "Lucida Console";
  }

.box5{
  width: 300px;
  height: 339px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 60px;


}
body {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26887395-78f4-441d-a6e0-cc877fa24b54/deejrt3-3c33eed3-d378-4f78-b8c6-fc6fa60575d9.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI2ODg3Mzk1LTc4ZjQtNDQxZC1hNmUwLWNjODc3ZmEyNGI1NFwvZGVlanJ0My0zYzMzZWVkMy1kMzc4LTRmNzgtYjhjNi1mYzZmYTYwNTc1ZDkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.GLyG-NJ33bIHSVsd14MaodgIjhnEw-OvpmRtiyucEG0');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


.box6{
  margin-left: 300px;
  margin-right: 400px;
  margin-bottom:30px;
  font-size: xxx-large;
}
.box7{
  margin-left: 300px;
}
.box8{
  margin-left: 2px;
}
.name1{

}
.order2{
  margin-top: 6px;
}
.price{
  margin-top: 3px;
}


button{
  margin-left: 20px;
}
.input1{
  border: 2px solid gray;
  border-radius: 5px;
  height: 39px;
  width: 250px;
}
#searchInput:hover {
  background-color: yellow;
}


