<body>
<div class="box3">

  <input  #url class="input1" type="text"
          placeholder="Search Your Pokémon :" >
  <button  mat-raised-button (click)="inputPoke(url.value)" >Search</button>
  <button  mat-raised-button  (click)="clear()" >Clear</button>

</div>

<ul *ngIf="searchResult">
  <div *ngFor="let o of searchResult" class="box5">

    <img (click)="show(o)" class="image1" src="{{o.imageUrl}}" >
    <div class="box4">
      <label>  </label>{{o.name}}
      <label class="right">No.</label> {{o.pokedexNumber}}
    </div>
  </div>
</ul>


<div class="box5" *ngFor="let o of pokemons | orderBy:'pokedexNumber'
| paginate :{itemsPerPage:12,currentPage:p}">


  <img (click)="show(o)" class="image1" src="{{o.imageUrl}}" >
  <div class="box4">
    <label>  </label>{{o.name}}
    <label class="right">No.</label> {{o.pokedexNumber}}
  </div>

</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
</body>
