#box1{
    margin-left: 300px;
    margin-right: 600px;
    margin-top:50px;
    margin-bottom:50px;
    border: 2px solid;
    border-color: lightslategray;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
#box2{
    margin-left: 300px;
    margin-right: 600px;
    margin-top:50px;
    margin-bottom:50px;
    border: 2px solid;
    border-color: lightslategray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#box3{
    margin-left: 300px;
    margin-right: 600px;
    margin-top:50px;
    margin-bottom:50px;
    border: 2px solid;
    border-color: lightslategray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

