<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="box1"> Picture form database</div>
  <div id="box2">
    <label for="name">Name:  </label> <label for="name">this.name</label> <br>
    <label for="hp">HP:  </label> <label for="hp">this.hp</label> <br>
    <label for="attack">Attack:  </label> <label for="attack">this.attack</label><br>
    <label for="defend">Defend:  </label> <label for="defend">this.defend</label><br>
  </div>
  <div id="box3">
    <label for="plist"> Select a Pokemon</label>
    <select id="PokeListID"  >  
    <optgroup label="PokeList">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>   
      <option value="5">5</option>    
    </optgroup>
    </select>

  </div>
</body>
</html>