<div class="container col-lg-6">
  <h1 class="text-center">Create New Pokémon</h1>
  <div class="card">
    <div class="card-body">
      <form class="form-group">

        <div class="form-group">
          <input type="text" class="form-control"  [(ngModel)]="newPoke.name" name="name" placeholder="Pokémon Name" >
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newPoke.pokedexNumber" name="pokedexNumber" placeholder="Pokémon #" >
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newPoke.hp" name="hp" placeholder="HP Stat" >
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newPoke.attack" name="attack" placeholder="Attack Stat" >
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newPoke.defend" name="defend" placeholder="Defense Stat" >
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="newPoke.imageUrl" name="imageUrl" placeholder="Image URL" >
        </div>

        <button (click)="create()" class="btn btn-secondary">Create an Pokémon</button>
      </form>
    </div>
  </div>
</div>
