<h1  mat-dialog-title>Pokémon Information</h1>
<p class="p1"><span class="span3">{{data.message.pokedexNumber}}</span>
  <span class="span1"> . </span>
  <span class="span3">{{data.message.name}} </span>
  <span class="span2"> HP:{{data.message.hp}}</span>
  <span class="span2"> Attack:{{data.message.attack}}</span>
  <span class="span2"> Defend:{{data.message.defend}}</span>
</p>
<mat-dialog-content> <img
  class="image1" src="{{data.message.imageUrl}}"
  alt="Picture"></mat-dialog-content>
<mat-dialog-actions>

  <button mat-raised-button *ngIf="this.authenticationService.isUserLoggedIn()" (click)="delete(data.message)">Delete</button>
  <span>        </span>
  <button  mat-raised-button (click)="closeMe()">Close</button>
</mat-dialog-actions>
