<div *ngIf="p" class="box5"><img class="image1" src="{{p.picture}}" alt="{{p.picture}}">
  <div class="box4">
    <label > </label>{{p.name}}
    <label>HP:</label>{{p.hp}}
    <label>Attack:</label>{{p.attack}}
    <label>Defend:</label>{{p.defend}}
  </div>
  <div class="price"> Price: $1.5</div>
  <div class="order2"> <button>Order</button> </div>
</div>
<div class="box3">

  <input #url class="input1" type="text"
         placeholder="Search Your Pokemon :"
         (input)="inputPoke(url.value)" [value]="inputPokemon">
  <button  (click)="clear(inputPokemon)">clear</button>
</div>

